<%- include("partials/header") %>
<main class="container py-4">

    <%- include('partials/quiz-header') %>
  
    <h3>Questions</h3>
    <form action="/quiz/<%= quiz.id %>/result" method="POST">
        <% quiz.questions.forEach(question => { %>
            <span class="badge bg-info"><%= question.level.name %></span>
            <p class="fw-bold mb-1"><%= question.description %></p>
            <div class="mb-3 ms-2">
                <% question.propositions.forEach(proposition => { %>
                    <div>
                        <input type="radio" id="<%= proposition.id %>" name="<%= question.id %>" value="<%= proposition.id %>">
                        <label for="<%= proposition.id %>"><%= proposition.description %></label>
                    </div>
                <% }) %>
            </div>
        <% }) %>
        <button class="d-block mx-auto btn btn-primary mb-4">Envoyer</button>
    </form>
  </main>
  
  <%- include("partials/footer") %>
  